.button {
    background: $background;
    font-size: 1.5rem;
    color: $dark-accent;
    text-transform: uppercase;
    border: 1px solid $dark-accent;
    padding: 20px;
    margin: 20px;
    font-weight: 900;
    border-radius: 5px;
    transition: border 500ms, box-shadow 500ms, border-radius 200ms;

    &:hover, &:active, &:focus {
        border-color: $darken-dark-accent;
        box-shadow: 0px 4px 20px 10px $darken-dark-accent;
    }

    &:active, &:focus {
        border-radius: 40px;
        border: 1px solid $dark-accent;
    }

    @include mobile {
        font-size: 1rem;
    }
}