
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.submit-joke-container {
    width: 80%;
    border: 5px solid $dark-accent;
    margin: 0 auto;
    background: $light-accent;
    padding: 10px 20px;
    border-radius: 5px;

    .desc {
        width: 100%;
        text-align: center;
        border: 5px solid $dark-accent;
        background:white;
        padding:10px 20px;
        margin-bottom:20px;
    }
    .form{
        border:1px solid black;

        .input{
            border:1px solid red;
            width:calc(50% - 20px);
            margin-right:20px;
            float:left;
            .header {
                padding:10px 20px;
                border: 5px solid $dark-accent;
                background:white;
                margin-bottom:5%;

                h2{
                    font-size:1.2rem;
                    padding:0;
                    margin:0;
            
                }
            }
            input {
                width: 100%;
                border-radius: 5px;
                padding: 10px 20px;
                outline: 0;
                border-width: 5px;
                border-color: $dark-accent;
                display: block;
                background: white;
                font-size: 1rem;
                line-height: 1.5;
                color: black;
                transition: all 0.28s ease;
                box-shadow: none;

            }
            input:focus {
                border-color: $light-accent;
            }

            input#name {
                margin-bottom:5%;
            }



        }
        .textfield{
            border:1px solid green;
            width:50%;
            float:right;

            textarea{
                width:100%;
                border-radius: 5px;
                padding:10px 20px;
                outline: 0;
                border-width: 5px;
                border-color: $dark-accent;
                display: block;
                background: white;
                font-size: 1rem;
                line-height: 1.9;
                color: black;
                transition: all 0.28s ease;
                box-shadow: none;
                height: 222px;
            }
        }
    }
}