/* Default styles */
img {
    max-width:100%;
    width: 100%;
    display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

form {
	padding: 0;
	margin: 0;
}

a:focus, a:active, button:focus, button:active {
    border: 1px dotted $dark-accent;
}

a {
    text-decoration: none;
}

/* Wrapper styles */
.wrapper {
	max-width: 1600px;
	width: 80%;
    margin: 0 auto;
    
    @include mobile {
        width: 90%;
    }
}

/* Font and Background Styles */
html {
    font-size: 125%;
}

body {
    font-family: $body-font;
    background: url(./assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// Font Styles

h1 {
    font-family: $accent-font;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: $dark-accent;
    letter-spacing: 5px;
    border-bottom: 2px solid $light-accent;
    margin-bottom: 40px;

    @include mobile {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: $darken-dark-accent;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 900;

    @include mobile {
        font-size: 2rem;
    }
}

h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: right;
    font-weight: 900;
    padding-top: 30px;
}

h4 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
}

p {
    font-size: 1.5rem;

    @include mobile {
        font-size: 1rem;
    }
}