// Print Joke Container styles
.print-joke-container {
    width: 80%;
    margin: 40px auto;
    background: $white;

    @include tablet {
       width: 100%;
    }
}

// Joke/Data flip animation
.flip-container {
    background-color: transparent;
    width: 100%;
    height: 400px;
    padding: 10px;
    // perspective: 1500px;

    @include tablet {
        height: auto;
    }
}

.flip-container-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-bottom: 40px;

    @include tablet {
        position: static;
        transform-style: inherit;
        margin-bottom: 0;
    }
}

.flip-container:hover .flip-container-inner {
    transform: rotateY(180deg);

    @include tablet {
       transform: none;
    }
}

.joke-container {
    padding: 20px;
}

.joke-container, .chart-container {
    position: absolute;
    width: 100%;
    height: 400px;
    backface-visibility: hidden;
    background: $white;  

    @include tablet {
        position: static;
        height: auto;
        backface-visibility: inherit;
    }
}

.chart-container {
    transform: rotateY(180deg);

    @include tablet {
        transform: inherit;
        padding-bottom: 40px;
    }
}

// Chart styles
.view-stats {
    display: none;

    @include tablet {
       display: block;
       padding: 20px 0;
       border-top: 1px solid $light-accent;
    }

    @include mobile {
        font-size: 1.5rem;
    }
}

// ADJUST RECHARTS FOR RESPONSIVE!!!
.recharts-responsive-container, .recharts-surface, .recharts-wrapper {

    @include mobile {
        width: 270px;
    }
}

.recharts-responsive-container {
    margin: 0 auto;
}

// Joke container scroll
.joke-container {
    overflow: auto;
    padding: 20px;
}

// Legend styles
.legend, .box {   
    padding: 10px 0;
}

.legend {
    text-align: center;

    @include mobile {
        font-size: 1rem;
    }
}

.box {
    display: inline-block;
    width: 20px;
    height: 18px;
}

.purple {
    background: $dark-accent;
}

.blue {
    margin-left: 15px;
    background: $light-accent;
}

.grey {
    margin-left: 15px;
    background: $black;
}

// Voting Container styles
.voting-container {
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid $light-accent;

    @include tablet {
        margin-top: 0;
    }
}

// Vote Button styles
.vote-button {
    font-size: 2rem;
    color: $dark-accent;
    padding: 10px;
    margin: 0 20px;
    border: 1px dotted transparent;
    background: transparent;
    transition: all 500ms;

    @include mobile {
        font-size: 1.5rem;
        margin: 0 5px;
    }
}

.vote-icon {
    margin-right: 10px;
}

.vote-button:hover {
    transform: scale(1.3);
    color: $darken-light-accent;
}


.print-joke-name-department {
    @include mobile {
        font-size: 1.5rem;
    }
}

