// Fonts:
$accent-font: 'Black Ops One', cursive;
$body-font: 'Roboto', sans-serif;

// Colors
$background: rgb(230,224,224);
$joke-background: rgba(230,224,224,0.8);
$light-accent: rgb(120,147,247);
$dark-accent: rgb(87,5,197);
$darken-light-accent: darken($light-accent, 10% );
$darken-dark-accent: darken($dark-accent, 5%);
$black: rgb(54, 53, 55);
$white: rgb(248,248,255);