// Fonts:
$body-font: 'Roboto', sans-serif;

// Colors
$background: rgb(230,224,224);
$joke-background: rgba(230,224,224,0.8);
$light-accent: rgb(120,147,247);
$dark-accent: rgb(87,5,197);
$darken-light-accent: darken($light-accent, 10% );
$darken-dark-accent: darken($dark-accent, 5%);
$black: rgb(54, 53, 55);
$white: rgb(248,248,255);

// MEDIA QUERIES
// Global queries
$height-adjust: 700px;
$final-width: 375px;
$mobile-width: 600px;
$tablet-width: 900px;
$desktop-width: 1200px;
$form-width: 800px;
$form-final:400px;



// Global queries

@mixin form-final {
    @media (max-width: #{$form-final}) {
        @content;
    }
}

@mixin form {
    @media (max-width: #{$form-width}) {
        @content;
    }
}

@mixin height-adjust {
    @media (max-height: #{$height-adjust}) {
        @content;
    }
}

@mixin final {
    @media (max-width: #{$final-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}